{% extends 'base.html' %}

{% block head %}
<title>Sign in page</title>
{% endblock %}

{% block body %}

<body style="background-color:black;" data-target="#pb-navbar" data-offset="200" data-spy="scroll">


  <div class="container" style="padding-top:150px;">

    <div class="row" style="height:100px;">
      <h1 class="page-header text-primary mx-auto">REGISTER <span style="color:white;">PAGE FOR CUSTOMER</span></h1>
    </div>

    <div class="col-sm height: 100px; justify-content-center ">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{category}} " style="color: red;">{{message}}</div>
      {% endfor %}
      {% endif %}

      {% endwith %}
    </div>

    <div class="row justify-content-center" style="height: 500px;">
      
      <form action="{{ url_for('register') }}" method="POST">

        <div class="form-group">
          <label for="exampleInputname">Name</label>
          <input type="text" style="color: white; width: 400px;" class="form-control" id="name" name="name" placeholder="Enter Name"
            required>
        </div>

        <div class="form-group">
          <label for="exampleInputEmail">Email address</label>
          <input type="email" style="color: white;  width: 400px;" class="form-control" id="email" name="email"
            placeholder="Enter email" required>
          <small id="emailHelp">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword">Password</label>
          <input type="password" style="color: white;  width: 400px;" class="form-control" id="password" name="password"
            placeholder="Password" required>
        </div>

        <div class="form-group">
          <label for="exampleInputphonenumber">Phone Number</label>
          <input type="tel" style="color: white;  width: 400px;" class="form-control" id="phonenumber" name="phonenumber"
            placeholder="Enter phone Number" pattern="[0-9]{10}" required>
        </div>

        <button type="submit" class="btn btn-primary mx-auto"><span
          style="color:black; font-weight: bolder;">Submit</span></button>

        
      </form>
    </div>


    <div class="row d-flex">

      <a href="{{ url_for('home') }}" class="btn btn-primary mx-auto" role="button"><span
          style="color:black; font-weight: bolder;">Back</span>
      </a>

    </div>

  </div>

  {% endblock %}

</body>

</html>