{% extends 'base.html' %}

{% block head %}
<title>Sign in page</title>
{% endblock %}

{% block body %}

<body data-spy="scroll" data-target="#pb-navbar" data-offset="200" style="background-color:black;">

  </section>
  <div class="container1">

    <div class="row" style="height:250px; padding-top: 150px;">
      <h1 class="page-header text-primary mx-auto">LOGIN FOR<span style="color:white;"> AGENT</span></h1>
    </div>

    <div class="row height: 100px; ">
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
      {% for category,message in messages %}
      <div class="alert alert-{{category}} mx-auto" style="color: red; ">{{message}}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>

    <div class="row justify-content-center" style="height: 350px;">

      <form action="{{ url_for('loginagent') }}" method="POST">

        <div class="form-group text-center">
          <label for="exampleInputid"><span style="color: white;">Id</span></label>
          <input type="tel" style="color: white; width:400px;" class="form-control" id="id" name="idn"
            placeholder="Enter Id" pattern="[0-9]{4}" required>
          <small id="emailHelp">We'll never share your Password with anyone else.</small>
        </div>
        <div class="form-group text-center">
          <label for="exampleInputPassword1"><span style="color: white;">Password</span></label>
          <input style="color: white;" type="password" class="form-control" id="password" name="password"
            placeholder="Password" required>
        </div>

        <button type="submit" class="btn btn-primary"><span style="color:black; font-weight: bolder; ">
            Submit</span></button>

      </form>
    </div>

    <div class="row mb-6" >
      <h1 class="page-header text-primary mx-auto">FORGOT YOUR<span style="color:white;"> ID!</span></h1>
    </div>

    <div class="row justify-content-center" style="height: 350px;">

      <form action="{{ url_for('agentverifyemail') }}" method="POST">

        <div class="form-group text-center">
          <label for="exampleInputemail"><span style="color: white;">Email ID</span></label>
          <input type="email" style="color: white; width:400px;" class="form-control" id="verifyemail"
            name="verifyemail" placeholder="Enter Email Id" required>
        </div>

        <button type="submit" class="btn btn-primary"><span style="color:black; font-weight: bolder; "> Send
            Email</span></button>

      </form>
    </div>



    <div class="row d-flex bg-primary justify-content-center ">
      <a href="{{ url_for('forgotpass') }}" class="btn btn-primary" role="button"><span
          style="color:black; font-weight: bolder">Forgot Password</span> </a>

      <a href="{{ url_for('home') }}" class="btn btn-primary  " role="button"><span
          style="color:black; font-weight: bolder; ">Back</span> </a>

      <a href="{{ url_for('signuppage') }}" class="btn btn-primary " role="button"><span
          style="color:black; font-weight: bolder; ">Create an Account</span> </a>

    </div>

  </div>




  {% endblock %}


</body>

</html>