{% extends 'base.html' %}


{% block body %}

<body data-spy="scroll" data-target="#pb-navbar" data-offset="200">
	
	<section class="site-hero" style="background-color: black;" id="section-home">

		<div class="container p-3 mb-2 bg-primary rounded mx-auto " style="height:1000px; width:800px;">

			<div class="row text-center" style="padding-top:300px;">
				<h1 class="section-heading text-center col-md-16"><span style="color:skyblue;">C</span>USTOMER <span style="color:skyblue;">C</span>ARE <span style="color:skyblue;">R</span>EGISTRY ! </h1>
			</div>
			
		</div>
		

	</section>



	<!-- section -->
	<section class="site-section" id="section-sign">

		<div class="container" style="width: 200 px; height:500px">
			
				<h2 style="color:white;" class="text-center">{{mes}}</h2>
			
			<div class="row text-center mx-auto">
				<h1 class="section-heading text-center col-md-12 mb-6">Get your <strong> Account
						Now!</strong> </h1>
			</div>

			<div class="row text-center mx-auto mb-3">
				<h2 class="section-heading text-center col-md-12">Get your <strong> User
						Account!</strong> </h2>
			</div>

			<div class="row text-center mx-auto mb-3 ">
				<a href="{{ url_for('signinpage') }}" class="btn btn-primary btn-block " role="button"><span
						style="color:black; font-weight: bolder; height: 100px;">Sign in</span> </a>
			</div>
			<div class="row text-center mx-auto mb-5 ">
				<a href="{{ url_for('signuppage') }}" class="btn btn-primary btn-block" role="button"><span
						style="color:black; font-weight: bolder; height: 100px;">Sign up</span></a>
			</div>


			<div class="row text-center mx-auto">
				<h2 class="section-heading text-center col-md-12">Get your <strong> Agent
						Account!</strong> </h2>
			</div>

			<div class="row text-center mx-auto mb-3 ">
				<a href="{{ url_for('agentsignin') }}" class="btn btn-primary btn-block " role="button"><span
						style="color:black; font-weight: bolder;">Sign in</span> </a>
			</div>

			<div class="row text-center mx-auto mb-3 ">
				<a href="{{ url_for('agentRegister') }}" class="btn btn-primary btn-block " role="button"><span
						style="color:black; font-weight: bolder;">Sign up</span> </a>
			</div>
			


		</div>






	</section>


	<section class="site-section" id="section-portfolio">
		<div class="container">
			<div class="row">
				<div class="section-heading text-center col-md-12">
					<h2>Our <strong>Top Agents</strong></h2>
				</div>
			</div>
			<div class="filters">
				<ul>
					<li class="active" data-filter="*">All</li>
					<li data-filter=".packaging">Hardware Services</li>
					<li data-filter=".mockup">Software Services</li>
					<li data-filter=".typography">Both Services</li>
					<li data-filter=".photography">Online Services</li>
				</ul>
			</div>

			<div class="filters-content">
				<div class="row grid">
					<div class="single-portfolio col-sm-4 all mockup">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p3.png" alt="">
							</div>
							<a href="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p3.png" class="img-pop-up">

							</a>
						</div>
						<div class="p-inner">
							<a href="https://github.com/ssrajkiran">
								<h4>RAJKIRAN S S</h4>
								<div class="cat">SOFTWARE SERVICE</div>
							</a>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all mockup">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p2.png" alt="">
							</div>
							<a href="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p2.png" class="img-pop-up">
								<div class="middle">
									<div class="text align-self-center d-flex"><img
											src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/preview.png" alt=""></div>
								</div>
							</a>
						</div>
						<div class="p-inner">
							<h4>KAMALESUWARAN D</h4>
							<div class="cat">SOFTWARE SERVICE</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all packaging">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p3.png" alt="">
							</div>
							<a href="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p3.png" class="img-pop-up">
								<div class="middle">
									<div class="text align-self-center d-flex"><img
											src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/preview.png" alt=""></div>
								</div>
							</a>

						</div>
						<div class="p-inner">
							<h4>SRIGOVINDH</h4>
							<div class="cat">HARDWARE SERVICE</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all packaging">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p4.jpeg" alt="">
							</div>
							<a href="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p4.jpeg" class="img-pop-up">
								<div class="middle">
									<div class="text align-self-center d-flex"><img
											src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/preview.png" alt=""></div>
								</div>
							</a>
						</div>
						<div class="p-inner">
							<h4>LOKESH </h4>
							<div class="cat">HARDWARE SERVICE</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all typography">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p4.jpeg" alt="">
							</div>
							<a href="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p4.jpeg" class="img-pop-up">
								<div class="middle">
									<div class="text align-self-center d-flex"><img
											src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/preview.png" alt=""></div>
								</div>
							</a>
						</div>
						<div class="p-inner">
							<h4>NANDHEESH</h4>
							<div class="cat">HARDWARE AND SOFTWARE</div>
						</div>
					</div>
					<div class="single-portfolio col-sm-4 all photography">
						<div class="relative">
							<div class="thumb">
								<div class="overlay overlay-bg"></div>
								<img class="image img-fluid" src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p6.jfif" alt="">
							</div>
							<a href="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/p6.jfif" class="img-pop-up">
								<div class="middle">
									<div class="text align-self-center d-flex"><img
											src="https://finalphase.s3.jp-tok.cloud-object-storage.appdomain.cloud/static/assets/images/preview.png" alt=""></div>
								</div>
							</a>
						</div>
						<div class="p-inner">
							<a href="https://www.youtube.com/" target="_blank">
								<h4>RAM</h4>
								<div class="cat">ONLINE SERVICE</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- .section -->


	<section class="site-section " id="section-resume">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-5">
					<div class="section-heading text-center">
						<h2>Our <strong>Features</strong></h2>
					</div>
				</div>
				<div class="col-md-6">
					
					<div class="resume-item mb-4">
						<span class="date"><span class="fa fa-check-square-o" style="font-size:36px"></span><h2>TOP TICKETING FEATURES </h2></span>
						<h3>EMAIL BASED TICKET</h3>
						<p>
							Convert all incoming customer support emails <br>
							 into tickets and respond to them via email.
							
						</p>
						<span class="school">Create and respond to email tickets.</span>
					</div>

					<div class="resume-item mb-4">
						<span class="date"><span class="fa fa-check-square-o" style="font-size:36px"></span> <h2>KNOWLEDGE BASE SOFTWARE</h2></span>
						<h3>WORKFLOW</h3>
						<p>
							Design and manage your documentation <br>
							 publishing process.
							 Create unlimited knowledge base articles. <br>
							</p>
						<span class="school"> For different brands and products</span>
					</div>

					<div class="resume-item mb-4">
						<span class="date"><span class="fa fa-check-square-o" style="font-size:36px"></span><h2> ORGANISE YOUR CONTACT DATA</h2></span>
						<h3>FILTER ,SEARCH CONTACT INFORMATION</h3>
						<p> Track modifications with a profile history.<br>
							
							Add notes to keep contact-specific information.</p>
						</p>
						<span class="school">Block a contact to prevent the creation of spam tickets.</span>
					</div>

				</div>
				<div class="col-md-6">


					

					<div class="resume-item mb-4">
						<span class="date"><span class="fa fa-check-square-o" style="font-size:36px"></span><h2> TICKETS & SOLVE PROBLEMS</h2></span>
						<h3>TICKET INTERACTION </h3>
						<p>Customer portal software enables customers to track <br>
							and send tickets through an easy-to-use interface.
							Technology</p>
						<span class="school">Organization-wide tickets</span>
					</div>

					<div class="resume-item mb-4">
						<span class="date"><span class="fa fa-check-square-o" style="font-size:36px"></span> <h2> TICKETING SOFTWARE</h2></span>
						<h3>POWERFUL , USER-FRIENDLY TOOLS</h3>
						<p>Manage all of your support requests, convert emails to tickets, <br>
							 automate ticket assignments, customize support forms.</p>
						<span class="school">set your own SLA</span>
					</div>

					<div class="resume-item mb-4">
						<span class="date"><span class="fa fa-check-square-o" style="font-size:36px"></span> <h2> TICKET INSIGHTS </h2> </span>
						<h3>MESSAGE TAG</h3>
						<p>Ticket insights provide metrics for each ticket, <br>
							 such as response, SLA, assignment, and status.<small></small> </p>
						<span class="school">Allows your team to refine support operations</span>
					</div>




				</div>
			</div>
		</div>
	</section> <!-- .section -->

	<section class="site-section" id="section-about">
		<div class="container">
			<div class="row mb-5 align-items-center">
				<div class="row">
					<div class="section-heading">
						<h2>About <strong>Us</strong></h2>
					</div>
					<p> Syncfusion, the company behind BoldDesk, has been helping developers worldwide build powerful line-of-business 
					software for over 20 years. Our flagship component suite includes over 1,700 UI widgets and frameworks that help 
					reduce time and complexity when developing mobile, web, and desktop applications.  </p>

					<p>Over the past two decades, we have learned quite a bit about providing an optimal support experience on a global 
						scale for complex use cases. Our support system is backed by software systems that track every detail accurately. 
						Nothing is left to chance. Customers appreciate that every detail is tracked to completion. 
						Such actions let them know that we care not just with words in a support policy but in actual practice,
						 day after day, year after year.</p>
				</div>
			</div>


		</div>
	</section>


	<section class="site-section pb-0" id="section-services">
		<div class="container">

			<div class="row mb-4">
				<div class="col-md-12">
					<div class="section-heading text-center">
						<h2>My <strong>Services</strong></h2>
					</div>
				</div>
			</div>
			<div class="row">

				<div class="col-md-6 col-lg-4 text-center mb-5">
					<div class="site-service-item site-animate" data-animate-effect="fadeIn">
						<span class="icon">
							<span class="fa fa-clock-o" style="font-size:46px"></span>
						</span>

						<h3 class="mb-4">Get started in minutes</h3>
						<p>tart supporting your customers in no time without requiring an expensive onboarding plan or excessive hand-holding.</p>
						
					</div>
				</div>
				<div class="col-md-6 col-lg-4 text-center mb-5">
					<div class="site-service-item site-animate" data-animate-effect="fadeIn">
						<span class="icon">
							<span class="fa fa-group" style="font-size:46px" ></span>
						</span>
						<h3 class="mb-4">Keep your team on the same page
						</h3>
						<p>Enable 1:1 or group discussions and collaborate within your team or across other teams from within Freshdesk</p>
						
					</div>
				</div>
				<div class="col-md-6 col-lg-4 text-center mb-5">
					<div class="site-service-item site-animate" data-animate-effect="fadeIn">
						<span class="icon">
							<span class="fa fa-angle-up" style="font-size:46px"></span>
						</span>
						<h3 class="mb-4">Increase your capabilities</h3>
						<p>Boost your support strategy by integrating with 650+ apps on the Marketplace and resolve tickets more efficiently. </p>
						
					</div>
				</div>



			</div>
		</div>
	</section>

	<section class="site-section" id="section-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mb-5">
					<div class="section-heading text-center">
						<h2>Get <strong>In Touch</strong></h2>
					</div>
				</div>

				<div class="col-md-7 mb-5 mb-md-0">
					<form action="{{ url_for('getintouch') }}" class="site-form" method="post">
						<h3 class="mb-5">Get In Touch</h3>
						<div class="form-group">
							<input name="name" type="text" class="form-control px-3 py-4" id = "name" name= "name" placeholder="Your Name">
						</div>
						<div class="form-group">
							<input name="email" type="email" class="form-control px-3 py-4" id="email" name="email"  placeholder="Your Email">
						</div>
						<div class="form-group mb-5">
							<textarea name="message" class="form-control px-3 py-4" cols="30" rows="10" name="msg" id="msg"
								placeholder="Write a Message"></textarea>
						</div>
						<div class="form-group">
							<input type="submit" style="color: black; font-weight: bolder; " class="btn btn-primary  px-4 py-3" value="Send Message">
						</div>
					</form>
					<script>

						function test() {
							Swal.fire('Thanks For Contacting Us..')
							window.scrollTo(0, document.body.scrollHeight);

						}
						{ { code } }
					</script>
				</div>
				<div class="col-md-5 pl-md-5">
					<h3 class="mb-5">My Contact Details</h3>
					<ul class="site-contact-details">
						<li>
							<span class="text-uppercase">Email</span>
							ibmdemo6@yahoo.com
						</li>
						<li>
							<span class="text-uppercase">Phone</span>
							+91 XXXXXXXXX
						</li>

						<li>
							<span class="text-uppercase">Address</span>
							89 , OMR ROAD <br>
							PADUR <br>
							India, TAMIL NADU
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>

	{% endblock %}
</body>

</html>