<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="icon" sizes="192x192" href="../static/images/ttst.png">

    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<title>Profile</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light shadow">
		<a class="navbar-brand text-white" href="../"><img src="../static/images/ttst.png" width="50"> Customer Care
			Registry</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		
	</nav>




		
    <section class="bg-white py-5">
        <div class="container">
            <h2 class="text-center mb-5">Profile</h2>
            <div data-aos="zoom-in">
                <p>SmartMart is an e-commerce company, SmartMart is known for its disruption of well-established
                    industries through technological innovation and mass scale.Excellent customer service is the number one job in any company! We focus on treating customers well,
                    answering questions and exceeding expectations.</p>
            </div>
        </div>
    </section>

	
	

    <script src="../static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
</body>

</html>